@import "node_modules/bootstrap/scss/bootstrap";

.my-container {
    width: 90%;
    margin: 0 auto;
}

.my-btn-primary {
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 15px;
    background: rgb(28, 72, 138);
    background: linear-gradient(297deg, rgba(28, 72, 138, 1) 34%, rgba(9, 143, 192, 1) 100%);
    color: white;
    border: none;
}

.my-btn-secondary {
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 15px;
    background: rgb(242, 92, 108);
    background: linear-gradient(266deg, rgba(242, 92, 108, 1) 21%, rgba(185, 39, 110, 1) 50%);
    color: white;
    border: none;
}